:root {
  --bg-color: #1b2430;
  --primary-color: #816797;
  --primary-font-family: 'Homenaje', sans-serif;

}

/* common style */
* {
  margin: 0;
  background-color: var(--bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 60px 10px 60px;
  border-bottom: 2px solid var(--primary-color);
}

nav > a {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-title {
  font-family: "Monofett", cursive;
  font-size: 40px;
}
.search-item-container {
    display: flex;
    align-items: center;
}
.search-item-container input {
    padding: 8px;
    width: 20rem;
    outline: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-item-container button {
    padding: 8px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--primary-color);
}

.search-item-container::placeholder {
    color: var(--primary-color);
}

ul {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  text-decoration: none;
}

ul li {
  margin-left: 20px;  
  text-decoration: none;
}
